<h3>Ajouter un client</h3>
<div class="alert alert-success" *ngIf="notif">{{ notif }}</div>

<form [formGroup]="addPersonForm" 
    (submit)="addPerson(addPersonForm.value)"
    fxLayout="column" 
    fxLayoutGap="32px"
    fxLayoutAlign="center center" 
    autocomplete="off">

    <mat-form-field>
        <input matInput formControlName="nom" placeholder="Nom ?" autocomplete="none">
        <mat-hint *ngIf="erreursForm.nom" class="text text-danger">
            {{ erreursForm.nom }}
        </mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="tel" placeholder="Tél ?" autocomplete="none">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="E-mail" formControlName="email" placeholder="Email ?" autocomplete="none">
        <mat-hint *ngIf="erreursForm.email" class="text text-danger">
            {{ erreursForm.email }}
        </mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="adresse" placeholder="Adresse ?" autocomplete="none">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="cp" placeholder="Code postal ?" autocomplete="none">
    </mat-form-field>

    <mat-form-field *ngIf="lespays$ | async as lespays">
        <input matInput type="text" placeholder="Pays ?" [disabled]="true">
        <mat-select formControlName="pays" placeholder="Pays ?" (change)="choiceCountry($event)">
            <mat-option *ngFor="let pays of lespays" [value]="pays">{{pays.nom}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="lesvilles$ | async as villes">
        <input matInput type="text" placeholder="Ville ?" [disabled]="true">
        <mat-select formControlName="ville" placeholder="Ville ?">
            <mat-option *ngFor="let ville of villes" [value]="ville">{{ville.nom}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button type="submit" mat-raised-button color="accent" [disabled]="addPersonForm.invalid">Valider</button>
    </div>
</form>
