

<div fxLayout="column wrap" 
    fxLayoutAlign="center start">

    <h3 class="mx-auto">Les clients</h3>
    
    <form fxLayout="row wrap" 
        fxLayoutGap="20px" 
        fxLayoutAlign="flex-start center" 
        class="mx-auto"
        #personsFilterForm="ngForm" 
        novalidate>
        <ng-container *ngIf="{
            villes: villes$ | async,
            pays: pays$ | async
        } as data">
            <h6>Trier par: </h6>
            <mat-form-field *ngIf="data.villes as villes">
                <mat-label>Villes</mat-label>
                <mat-select name="ville" [(ngModel)]="villeSelected" (selectionChange)="villeChanged($event)">
                    <mat-option *ngFor="let ville of villes" [value]="ville">{{ville.nom}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="data.pays as lesPays">
                <mat-label>Pays</mat-label>
                <mat-select name="pays">
                    <mat-option *ngFor="let unPays of lesPays" [value]="unPays">{{unPays.nom}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
    </form>
    
    
    <div *ngIf="personnes$ | async as personnes"
        fxLayout="row wrap"
        fxLayoutGap="15px"
        fxLayoutAlign="center start" fxFlex="100%">

        <mat-card fxFlex="40%" *ngFor="let p of personnes">
            <mat-card-title>{{p.nom}}</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>{{p.tel}}</li>
                    <li>{{p.email}}</li>
                    <li>{{p.adresse}}</li>
                    <li>{{p.cp}}</li>
                    <li>{{p.ville.nom}}</li>
                    <li>{{p.pays.nom}}</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<router-outlet></router-outlet>