<form 
    #addCompteForm="ngForm" 
    novalidate
    fxLayout="column nowrap" 
    fxFlex="100%" 
    fxLayoutAlign="center center">
    <h3>--- Ajouter un compte ---</h3>

    <!-- Numéro de compte -->
    <mat-form-field floatPlaceholder="always">
        <input 
            matInput 
            type="text" 
            name="num"
            #txtNum="ngModel"
            required 
            ngModel  
            placeholder="Numéro de compte ?"
            [value]="currentCompte?.num">
    </mat-form-field>

    <!-- Nom de compte-->
    <mat-form-field floatPlaceholder="always">
        <input 
            matInput 
            type="text" 
            name="nom" 
            #txtNom="ngModel"
            required 
            ngModel 
            placeholder="Nom du compte ?"
            [value]="currentCompte?.nom">
    </mat-form-field>

    <div>
            <button *ngIf="currentCompte"
            mat-raised-button type="submit" 
            color="accent" 
            (click)="modifyCompte(id, addCompteForm.value)"
            [disabled]="addCompteForm.invalid">Modifier</button>

            <button *ngIf="!currentCompte"
            mat-raised-button type="submit" 
            color="primary" 
            (click)="addCompte(addCompteForm.value)"
            [disabled]="addCompteForm.invalid">Ajouter</button>
    </div>
</form>