<a [routerLink]="['add-compte', compte.id]" title="Mettre à jour">Mettre à jour</a> - 
<a [routerLink]="['delete-compte', compte.id]" title="Supprimer ce compte" (click)="removeCompte(compte.id)">Supprimer</a>