<h3>Les des comptes</h3>
<ul>
    <li *ngFor="let compte of comptes">
        {{compte.id + " - "}} <a [routerLink]="compte.id" title="Voir détails">{{compte.nom}} => </a>
        <cb-compte-alone [compteToUpdate]="compte"></cb-compte-alone>
    </li>
</ul>

<router-outlet></router-outlet>


