<form 
    #signinForm="ngForm" 
    novalidate
    fxLayout="column nowrap" 
    fxLayoutAlign="center center">
    <h3>--- Connexion ---</h3>

    <!-- Username -->
    <mat-form-field floatPlaceholder="always">
        <input 
            matInput 
            type="text" 
            name="username"
            #txtUsername="ngModel"
            required 
            ngModel  
            placeholder="Pseudo ?">
    </mat-form-field>

    <!-- Password -->
    <mat-form-field floatPlaceholder="always">
        <input 
            matInput 
            type="password" 
            name="password" 
            #txtPassword="ngModel"
            required 
            ngModel 
            placeholder="Mot de passe ?">
    </mat-form-field>

    <div>
        <div class="text-danger" *ngIf="error">{{ error }}</div>
        <button
            mat-raised-button type="submit" 
            color="accent" 
            (click)="signin(signinForm.value)"
            [disabled]="signinForm.invalid">Valider</button>
    </div>
</form>